# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Logs
*.log
client_debug.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / dist
build/
dist/
*.spec

# Local secrets
.env
.env.*
